# Virtual Environment
venv/

# Python Cache
__pycache__/
*.pyc
*.pyo

# Environment Variables
.env

# Database
*.db

# Model and ML Binaries
models/
pose_landmarker_heavy.task
*.pt
*.pkl
*.npy
*.task

# Output Folder
output/

# IDE 
.vscode/

# Build Artifacts
*.egg-info/
installer/
dist/
build/
